<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<div th:insert="_bootstrap.html"></div>
<header th:insert="_hedder.html"></header>
<div class="container text-center">
    <h3>Калькулятор расчета стоимости тиснения</h3>

    <div class="row align-items-start">
        <div class="col-3"></div>
        <div class="col-6 mt-5">
            <form class="row g-3" action="/calc" method="post">

                <div class="col-md-4 mb-3">
                    <label>Стоимость оттиска</label>
                    <input type="text" name="oneOttiskPrice" class="form-control"
                           th:value="*{operation.oneOttiskPrice}">
                </div>
                <div class="col-md-4 mb-3">
                    <label>Стоимость приладки</label>
                    <input type="text" name="montageWorkPrice" class="form-control"
                           th:value="*{operation.montageWorkPrice}">
                </div>
                <div class="col-md-4 mb-3">
                    <label>Стоимость фольги М2.</label>
                    <input type="text" name="oneQuadratMetterFoilPrice" class="form-control"
                           th:value="*{operation.oneQuadratMetterFoilPrice}">
                </div>
                <div class="col-md-4 mb-3">
                    <label>Ширина в СМ.</label>
                    <input type="text" name="widthSM" class="form-control" th:value="*{operation.widthSM}">
                </div>
                <div class="col-md-4 mb-3">
                    <label>Длинна в СМ.</label>
                    <input type="text" name="lengthSM" class="form-control" th:value="*{operation.lengthSM}">
                </div>
                <div class="col-md-4 mb-3">
                    <label>Тираж ШТ.</label>
                    <input type="text" name="quantity" class="form-control" th:value="*{operation.quantity}">
                </div>

                <div class="alert alert-info mt-3" role="alert">
                    <h5>Итого: <span th:text="${result}" maxFractionDigits="2"></span></h5>
                </div>
                <div class="col mb-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </form>

        </div>
        <div class="col-3"></div>
    </div>
</div>

</body>
</html>