<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div th:insert="_bootstrap.html"></div>
<header th:insert="_hedder.html"></header>

<div class="container">
    <div class="container text-center">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">

                <form th:action="@{/user/reg}" th:object="${user}" method="post">
                    <input type="text" th:field="*{user}" placeholder="User">
                    <p th:if="${#fields.hasErrors('user')}" th:errors="*{user}"></p>

                    <input type="text" th:field="*{username}" placeholder="Username">
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>

                    <input type="text" th:field="*{password}" placeholder="Password">
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

                    <button>Submit</button>
                </form>

                <form th:action="@{/user/reg}" th:object="${user}" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">

                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="Password">
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="Username">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>


            </div>
            <div class="col">

            </div>
        </div>
    </div>


</div>


</body>
</html>